{% extends "rest_framework/base.html" %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css" type="text/css">
{% endblock %}

{% block title %}Odin API{% endblock %}

{% block branding %}
    <img src="/static/images/logo-white.svg" style="height: 30px; margin: 5px 10px 0 0; stroke: white; float: left;">
    <a class='navbar-brand' rel="nofollow" href='http://www.django-rest-framework.org'>
        Odin API <span class="version">Django Rest Framework {{ version }}</span>
    </a>
{% endblock %}
